.App{
  text-align: center;
}
.container {
  margin: 0 auto;
  display: grid;
  justify-content: center;
}

.main {
  display: grid;  
  justify-content: center;
  grid-template-columns: 1fr;
  padding: 0px =10px;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  grid-column: 1 / -1;
}
.subtitle {
  font-size: 1.5rem;
  font-weight: 400;
  color: #fff;
  grid-column: 1 / -1;
}

.color-slider {
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  justify-content: center;
}

label {
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  padding: 0px 10px;
  text-align: center;
}

.main-video {
  margin: 0 auto;
  aspect-ratio: 16/9;
  border-radius: 10px;
  min-height: 450px;
  max-height: 650px;
  object-fit: contain;
  height: 100%;
}

.container-items {
  padding: 0px 24px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: minmax(fit-content, 150px);
  grid-gap: 25px;
  justify-content: center;
}

.card {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  aspect-ratio: 16/9;
  border-radius: 5%;
  list-style: none;
  position: relative;
}
.card:hover {
  cursor: pointer;
  scale: 1.05;
  transition: 0.2s;
  transition-timing-function: ease-in-out;
}

.card__badge{
  height: 100%;
  width: 100%;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 5px;
}

.card__title{
  font-weight: 700;
  color: #fff;
  padding: 5px;
  text-align: left;
  margin-top: 0px;
}

.card__info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card__footer{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  right: 0;
}
.card__pill{
  height: 30px;
  max-height: 35px;
  font-size: 0.8rem;
  font-weight: 700;
  border-radius: 5px;
  padding: 1px 5px;
  margin: 5px;
  background: #2e2e2e;
  color:white;
}

.card:hover footer .card__pill {
  display: none;
  animation: fadeOut 0.5s ease-in-out;
}

.card__add__to__playlist{
  width: 35px;
  max-height: 35px;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  background: #2e2e2e;
  color:white;
}

.card__add__to__playlist:hover{
  background: #6b6b6b;
}

.card__duration{
  color: white;
  margin: 0px 5px;
  padding: 8px 0px;
}

.thumbnail {
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: 5px;
}

.gallery{
  width: 100%;
  display: flex;
}

.gallery li img {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.6;
  filter: contrast(80%);
  transition: all 0.5s ease;
}

/* Create an animation that starts at the centers and grow up */
.gallery li img {
  animation: zoom 0.5s;

}

/* The animation code */
@keyframes zoom {
  from {
    opacity: 0.4;
    filter: contrast(80%);
    transform: scale(0.1);
  }
  to {
    opacity: 1;
    filter: contrast(120%);
    transform: scale(1);
  }
}

.gallery li:hover img + .delete__icon{
  display: block;
}

.gallery li:hover img,
.gallery li img:hover{
  cursor: pointer;
  width: 300px;
  opacity: 1;
  filter: contrast(120%);
  transform: scale(1.1);
}

.playlist__card{
  height: 90%;
  align-self: center;
  width: 100%;
  display: flex;
  position: relative;
}

.delete__icon{
  height: 20px;
  width: 20px;
  padding: 5px;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  background: #2e2e2e;
  display: none;
  border-radius: 5px;
}

.delete__icon:hover{
  background: #6b6b6b;
}

.playlist__card.deleted {
  transform: scale(0);
  transition: all 0.3s ease;
}