.carrousel{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    
}

.carrousel-container{
    position: relative;
    overflow: hidden;
}

.carrousel-item{
    transition: all 5s ease;
}