* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
  display: grid;
  justify-content: center;
  align-content: start;
}

#root {
  display: grid;
  justify-content: center;
  align-content: start;
}
